&ltdc {
    status = "okay";
    pixel-format = <PANEL_PIXEL_FORMAT_RGB_888>;
    width = <480>;
	height = <272>;
    display-timings {
		compatible = "zephyr,panel-timing";
		de-active = <0>;
		pixelclk-active = <0>;
		hsync-active = <0>;
		vsync-active = <0>;
		hsync-len = <4>;
		vsync-len = <4>;
		hback-porch = <8>;
		vback-porch = <8>;
		hfront-porch = <8>;
		vfront-porch = <8>;
	};
};

/ {
    chosen {
        zephyr,display = &ltdc;
    };
};

&sdram {
    status = "okay";
};
