&ltdc {
    status = "okay";

    clocks = <&rcc STM32_CLOCK(APB3, 3)>,
		     <&rcc STM32_SRC_PLL3_R NO_SEL>;

    pixel-format = <PANEL_PIXEL_FORMAT_RGB_888>;
    width = <480>;
	height = <272>;

    pinctrl-0 = <
        &ltdc_r0_pe0  &ltdc_r1_ph3  &ltdc_r2_ph8    &ltdc_r3_ph9
        &ltdc_r4_ph10 &ltdc_r5_ph11 &ltdc_r6_pe1    &ltdc_r7_pe15
        &ltdc_g0_pb1  &ltdc_g1_pb0  &ltdc_g2_pa6    &ltdc_g3_pe11
        &ltdc_g4_ph15 &ltdc_g5_ph4  &ltdc_g6_pc7    &ltdc_g7_pd3
        &ltdc_b0_pg14 &ltdc_b1_pd0  &ltdc_b2_pd6    &ltdc_b3_pa8
        &ltdc_b4_pe12 &ltdc_b5_pa3  &ltdc_b6_pb8    &ltdc_b7_pb9
        &ltdc_de_pe13 &ltdc_clk_pg7 &ltdc_hsync_pc6 &ltdc_vsync_pa4
    >;

	pinctrl-names = "default";

	disp-on-gpios = <&gpiod 10 GPIO_ACTIVE_HIGH>;

    display-timings {
		compatible = "zephyr,panel-timing";
		de-active = <1>;
		pixelclk-active = <0>;
		hsync-active = <0>;
		vsync-active = <0>;
		hsync-len = <1>;
		vsync-len = <10>;
		hback-porch = <43>;
		vback-porch = <12>;
		hfront-porch = <8>;
		vfront-porch = <4>;
	};

    def-back-color-red = <0xFF>;
};

&clk_hse {
	clock-frequency = <DT_FREQ_M(25)>;
	hse-bypass;
	status = "okay";
};

&pll3 {
	div-m = <5>;
	mul-n = <192>;
	div-p = <2>;
	div-q = <20>;
	div-r = <99>;
	clocks = <&clk_hse>;
	status = "okay";
};

/ {
    chosen {
        zephyr,display = &ltdc;
    };
};
